<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeeWa.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="KeeWa.My.MySettings.DataBaseConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Nathan K\Desktop\KeeWa\DataBase.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KeeWa.My.MySettings>
            <setting name="PassWord" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="Langue" serializeAs="String">
                <value>Francais</value>
            </setting>
        </KeeWa.My.MySettings>
    </userSettings>
</configuration>